<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">

    {% endblock %}
</head>
<body>
<div class="container">
    <h1 class="text-center">Symfony Auth</h1>
    <hr>
    <div class="row justify-content-center">
        {% block body %}
        {% endblock %}
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
