{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
{% endblock %}


{% block body %}

    <div class="col-4">
        {% if error is defined %}
        <div class="alert-danger alert">invalid credentials!</div>
        {% endif %}
        {{ form_start(form) }}
        <div class="form-group">
            <label>Email address</label>
            {{ form_widget(form.email, {'attr': { 'class': 'form-control', 'placeholder': 'Enter email' }} ) }}
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label>Password</label>
            {{ form_widget(form.password, {'attr': { 'class': 'form-control', 'placeholder': 'Password' }} ) }}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
