{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-4">
        {% if app.user %}
            <p class="alert-success">User logged in!</p>
            <p>Name: {{ app.getToken().getUser().getName() }}</p>
            <p>E-Mail: {{ app.getToken().getUser().getUsername() }}</p>
        {% else %}
            <p class="alert-warning">User isn't logged in!</p>
        {% endif %}
    </div>

{% endblock %}
